Source: osrf-common
Standards-Version: 3.9.3
Maintainer: Morgan Quigley <morgan@osrfoundation.org>
Section: devel
Priority: extra
Build-Depends: cmake, 
               debhelper (>= 7.0.50~), 
               ros-indigo-ros,
               ros-indigo-ros-comm,
               ros-indigo-genmsg
Homepage: http://www.osrfoundation.org

Package: osrf-common
Architecture: any
Section: devel
Priority: extra
Depends: ros-indigo-ros-comm, ${misc:Depends}
Conflicts: osrf-common-prerelease, 
           osrf-common-nightly,
           osrf-common-indigo-prerelease,
           osrf-common-groovy-prerelease
Description: Software and messages used in multiple OSRF projects - ROS indigo
Homepage: http://www.osrfoundation.org
