Source: osrf-common-nightly
Standards-Version: 3.9.3
Maintainer: Morgan Quigley <morgan@osrfoundation.org>
Section: devel
Priority: extra
Build-Depends: cmake, debhelper (>= 7.0.50~), ros-fuerte-ros, ros-fuerte-ros-comm
Homepage: http://www.osrfoundation.org

Package: osrf-common-nightly
Architecture: any
Section: devel
Priority: extra
Depends: ros-fuerte-ros-comm, ${misc:Depends}
Conflicts: osrf-common, osrf-common-prerelease
Description: Software and messages used in multiple OSRF projects
Homepage: http://www.osrfoundation.org
